body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}


* {
  box-sizing: border-box;
}

form {
  display: flex;
}

textarea {
  display: inline-block;
  width: 90%;
  resize: none;
}


.wtime{
  color: forestgreen;
  text-align: center;
  font-size: x-large;
  border: 2px solid forestgreen;
  width: 100%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;

}


#clock{
  width: 350px;
  height: 100px;
  margin: auto;
  background-color: black;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  font-weight: bold;